{% extends "MinimalManagerBundle::layout.html.twig" %}
{%- block data %}
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <div class="text-right"><button type="submit" class="button">{{"Enregistrer"|trans}}</button></div>
  {{ form_end(form) }}
{% endblock -%}
