{% extends "MinimalManagerBundle::base.html.twig" %}

{%- block sidebar %}
  {{ knp_menu_render('minimal_manager_main') }}
{% endblock -%}
{%- block frame %}
  <h3>{{"Manager"|trans}}</h3>
  {%- block data %}{% endblock -%}
{% endblock -%}
