{% extends "MinimalManagerBundle::base.html.twig" %}

{%- block sidebar %}
  <div class="manager-nav">{{ knp_menu_render('minimal_manager_modules') }}</div>
{% endblock -%}
{%- block frame %}
  <h3>{{"Manager"|trans}}</h3>
  {%- block data %}{% endblock -%}
{% endblock -%}
